<header
  class="w-full border-b border-transparent bg-surface-0 h-full transition-all duration-300 ease-in-out"
  [ngClass]="{
    'border-surface':   (isScrolled() ),
  }"
>
  <nav class="flex h-16 items-center px-2 md:px-4">
    @if (!sideBarOpen()) {
    <div class="flex items-center gap-2">
      <button
        (click)="toggleSidebar()"
        class="flex items-center justify-center p-2 hover:bg-content-hover-background rounded-full"
      >
        <svg-icon
          [src]="
            '/assets/images/menu_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg'
          "
          svgClass="fill-current text-color "
        ></svg-icon>
      </button>
    </div>
    }

    <!-- Right Section: User Menu -->
    <p-popover
      #popover
      id="my-element"
      verticalAlign="below"
      styleClass=" before:hidden after:hidden"
    >
      <app-user-menu></app-user-menu>
    </p-popover>

    <div
      (click)="popover.toggle($event)"
      class="hover:bg-content-hover-background ms-auto p-2 rounded-full cursor-pointer"
    >
      <div class="relative">
        <p-overlaybadge
          severity="success"
          styleClass="top-[unset] bottom-0 right-[unset] left-0 translate-x-[unset] translate-y-[unset]"
        >
          <img
            src="/assets/images/default-avatar.png"
            class="rounded-full w-9 h-9 object-cover dark:brightness-95"
          />
        </p-overlaybadge>
      </div>
    </div>
  </nav>
</header>
